---
import Layout from '../layouts/Layout.astro'
import Right from '../components/ui/Right.astro'
import Copy from '../components/ui/Copy.astro'
---

<Layout title="Utilstash - A collection of utility functions for everyday tasks.">
  <main class="bg-primary/10">
    <div class="relative overflow-hidden">
      <div
        class="mx-auto max-w-7xl pb-24 pt-10 sm:grid lg:grid-cols-2 sm:pb-32 lg:gap-x-8 lg:px-8 lg:pt-24 lg:pb-52"
      >
        <div class="px-6 lg:px-0 lg:pt-4">
          <div
            class="mx-auto max-w-lg text-center sm:text-left flex flex-col items-center lg:items-start"
          >
            <h1
              class="relative tracking-tight sm:text-left mt-10 font-bold !leading-[4rem] text-gray-900 text-5xl md:text-7xl"
            >
              Utilstash
            </h1>
            <p
              class="mt-8 text-lg lg:pr-10 text-center lg:text-left text-balance md:text-wrap"
            >
              utilstash is a utility package that provides various common tools
              and functions for use in your JavaScript and TypeScript projects.
            </p>
            <ul
              class="mt-8 space-y-2 font-medium flex flex-col items-center sm:items-start"
            >
              <div class="space-y-2">
                <li class="flex gap-1.5 items-center text-left">
                  <Right />
                  A collection of utility functions for everyday tasks.
                </li>
                <li class="flex gap-1.5 items-center text-left">
                  <Right />
                  Written in TypeScript with type definitions included.
                </li>
                <li class="flex gap-1.5 items-center text-left">
                  <Right />
                  Uses the latest ECMAScript features.
                </li>
              </div>
            </ul>
            <button
              class="mt-4 px-4 border border-primary backdrop-blur-lg h-10 rounded-xl text-base flex justify-center items-center gap-3 transition-all duration-300 ease-in-out hover:shadow-[inset_0px_0px_10px_8px_hsl(35,100%,85%)]"
            >
              npm install utilstash
              <Copy />
            </button>
          </div>
        </div>
		<div class="relative px-8 sm:px-16 md:px-0 mt-28 md:mx-auto md:max-w-xl w-full lg:mx-0 lg:mt-20">
			<img class="border-dashed border-2 rounded-lg" src="/utilstash/code.png" alt="" srcset="">
		</div>
      </div>
    </div>
  </main>
</Layout>
