---
import Twitter from './ui/Twitter.astro'
import GitHub from './ui/GitHub.astro'
---

<footer>
  <div
    class="p-6 bg-white mx-auto relative z-10 overflow-hidden border border-b-0 border-gray-200"
  >
    <div class="flex flex-col items-center gap-4 text-center">
        <p class="max-w-md text-sm text-gray-500">
            Made by <a href="https://github.com/codebyaadi" class="text-gray-800 font-medium">Aditya.</a>
        </p>
      <p class="text-sm leading-5 text-gray-400">
        © <!-- -->2024<!-- --> Utilstash
      </p>
      <div class="flex items-center space-x-3">
        <Twitter />
        <GitHub />
      </div>
    </div>
  </div>
</footer>
