---
---

<nav class="sticky inset-x-0 z-30 w-full transition-all bg-transparent">
    <div class="max-w-7xl mx-auto lg:px-8 px-6">
        <div class="relative flex h-14 items-center justify-between">
            <a href="/" class="font-semibold text-base flex items-center">
                <img src="/utilstash/dizzy-face.png" alt="utilstash" srcset="" class="w-6 h-6 mr-1">
                Utilstash
            </a>
            <button class="px-4 bg-primary h-10 rounded-full text-base">
                Star on GitHub
            </button>
        </div>
    </div>
</nav>